/* root colors */
:root {
  --progressBar: black;
  --white-color: #fff;
  --blue-link: #2185d0;
  --light-gray: #0000000d;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body{
  font-size: 1.2rem;
}

p,
.item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

ol > li {
  margin-bottom: .5rem;
  line-height: 1.5;
}

ol > li::marker{
  font-size: 1.2rem;
}

ol > li > span{
  font-size: 1.2rem;
}

.item:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
}

.hero_home {
  background-image: url('/success.jpg');
  background-position: top;
  background-size: cover;
  filter: grayscale(1);
}

.hero_posts {
  background-image: url('/umbrella-reading.jpg');
  background-position: center;
  background-size: cover;
}

.hero_create {
  background-image: url('/writing.jpg');
  background-position: top;
  background-size: cover;
  filter: grayscale(1);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* navbar toggle */
div.ui.secondary.menu-toggle.menu {
  display: none;
}

@media only screen and (min-width: 1001px) {
  .float-right {
    margin-left: auto !important;
  }
}

@media only screen and (max-width: 1000px) {
  div.ui.secondary.menu-toggle.menu {
    display: block;
  }

  div.ui.secondary.stackable.hide-items.menu {
    display: none;
  }
  div.ui.secondary.stackable.show.menu {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
  div.right.menu a.item.hide-items {
    display: none;
  }

  div.ui.container > div.item.menu-toggle {
    display: block;
  }

  div.right.menu {
    display: flex;
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  .fx-d-c {
    flex-direction: column;
    margin-right: auto !important;
  }
}

.show {
  display: block !important;
}

/* colors */
.white {
  color: var(--white-color);
}

.blue {
  color: var(--blue-link);
}

/* footer */
footer {
  background-color: var(--light-gray);
  padding: 1rem;
  text-align: center;
  min-height: 100px;
}

/* editor styles */
figure img {
  display: block;
  max-width: 80%;
  margin: auto;
}

blockquote {
  margin-bottom: 16.8px;
}

blockquote p {
  border-left: 0.5rem solid lightgray;
  margin-left: 1rem;
  padding: 1rem;
}